@font-face {
    font-family: myFirstFont;
    src: url(\assets\css\public\default\fonts\fontawesome-webfont.woff);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;    
    padding: 0px;
}
.header .upper{
    background: white;
    padding: 10px 85px;
}
.header .upper .container{
    overflow: hidden;
}
.header .upper .container > div{
    width: calc(100%/3);
    float: left;
    text-align: center;
}
.header .upper .container > div#google_translate_element{
    text-align: right;
}
.header .upper .container .social ul{
    list-style: none;
    overflow: hidden;    
    margin-bottom: 0px;
}
.header .upper .container .social ul li{
    width: 31px;
    height: 31px;
    float: left;    
    margin-right: 20px;
}
.header .upper .container .social ul li a{
    border: 1px solid #2F2C2C;
    width: 30px;
    padding: 3px 5px;
    border-radius: 22px;
    display: block;
    color: #2F2C2C;
    font-size: 16px;
}
.header .upper .container .text-above .whatsapp{
    position: relative;    
    display: block;
    height: 30px;
}
.header .upper .container .text-above .whatsapp .whatsapp-icon{
    width: 170px;
    display: block;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .upper .container .text-above .whatsapp .whatsapp-icon strong{
    line-height: 30px;
    position: absolute;
    left: 40px;
    color: #2e2a2b;
}
.header .upper .container .text-above .whatsapp .whatsapp-icon:before{
    content: '';
    background: url(../default/img/whatsapp.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
}

.header .middle{
    transition: all 0.4s ease-in-out 0s;
    z-index: 999;
    background: #8DD842;
    padding: 20px 7%;
    overflow: hidden;
}
.header .middle .container div{
    width: 50%;
    float: left;
}
.header .middle div.logo img{
    width: 100%;
    max-width: 320px;
}
.header .middle div.info ul{
    list-style: none;
    overflow: hidden;
}
.header .middle div.info ul li{
    width: calc(100%/3);
    float: left;
    text-align: center;    
    color: white;    
    letter-spacing: 0.7px;
}

.header .header-menu{
    background: #8dd842;
}
.header .header-menu .container{
    position: relative;
}
.header .header-menu .navbar-nav{
    display: block;
    margin-bottom: 0px;
    float: left;
}
.header .header-menu .navbar-nav li{
    padding-top: 0px;
}
.header .header-menu .navbar-nav li a{
    padding: 10px;    
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.header .header-menu .navbar-nav li a:hover,
.header .header-menu .navbar-nav li a:focus{
    transition: all 0.6s ease-in-out 0s;
    background: #7ec13a;
}
.header .header-menu .download{
    display: block;
    margin-bottom: 0px;
    position: absolute;
    right: 0;
    bottom: 9px;
}
.header .header-menu .download a{
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
.header .header-menu .download a:hover,
.header .header-menu .download a:focus{
    text-decoration: none;
    transition: all 0.6s ease-in-out 0s;
    background: #7ec13a;
}


.footer-container .footer{
    background: black;
    height: auto;
    padding-bottom: 30px;
}
.footer-container .copyright{
    background: #2F2C2C;
    height: auto;
    text-align: center;
    padding: 20px 0px;
    color: white;
}
.footer-container .footer .container > .row{    
    width: calc(100%/3);
    float: left;
    text-align: left;
    margin: 0px;
}
.footer-container .footer .container > .row h3{    
    border-left: 3px solid #8DD842;
    color: #fff;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
.footer-container .footer .container > .row.contact{    
    float: right;
}
.footer-container .footer .container > .row.contact ul{    
    list-style: none;
    padding: 0px;
}
.footer-container .footer .container > .row.contact ul li{    
    margin-bottom: 15px;
}
.footer-container .footer .container > .row.contact ul li i{    
    color: #8DD842;
    margin-right: 30px;
}
.footer-container .footer .container > .row.contact ul li i:before{    
    font-size: 17px;
}


@media only screen and (max-width: 768px) {
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
}